.form-name {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.form-name input {
  margin-left: 17%;
}

.form-select {
  width: 85%;
  padding: 2%;
  border: solid 3px #55495a;
  border-radius: 10px;
  font-size: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../img/arrow-down.png");
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 5% 50%;
  cursor: pointer;
}
